<div *ngIf="isLoading">
  <app-loading-page></app-loading-page>
</div>

<div
  *ngIf="!isLoading"
  class="w-full h-full px-20 overflow-x-hidden flex flex-col justify-center items-center"
>
  <app-card-search [paramSearch]="paramSearch"></app-card-search>
  <div class="flex flex-row w-full gap-10 justify-center items-start mx-auto">
    <app-card-filter
      [filterStats]="filterStats()"
      (filterChange)="filterStatsChange($event)"
    ></app-card-filter>
    <div
      class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="300"
      (scrolled)="onScroll()"
    >
      @for (item of flightListResult(); track $index) {
      <app-card-list [flightCard]="item"></app-card-list>
      }
    </div>
  </div>
</div>
