<div class="flex relative flex-col bg-slate-200">
  <img
    ngSrc="https://cdn.builder.io/api/v1/image/assets/TEMP/f7b6b2931a5ba543da034a16e2dcc32321625dcb98cef54c0d19c43197e5314e?apiKey=6b158420ea1148c682b1835c67783cca&"
    priority
    alt=""
    fill
  />

  <form
    class="flex relative flex-row gap-10 justify-center m-auto"
    autocomplete="off"
    [formGroup]="flightSearchForm"
    (ngSubmit)="submitForm()"
  >
    <section
      class="flex flex-col self-stretch my-auto text-black whitespace-nowrap w-[173px]"
    >
      <div class="row-control">
        <label class="form-control w-full max-w-xs relative">
          <div class="label flex gap-2 justify-start">
            <span class="label-text">Depature</span>
            <span class="material-symbols-outlined"> flight_takeoff </span>
          </div>
          <input
            type="text"
            placeholder="Ha Noi"
            class="input input-bordered w-full max-w-xs"
            id="from_departure"
            formControlName="from_departure"
            name="from_departure"
            required
          />

          <ng-container
            *ngTemplateOutlet="
              autocompleteTemplate;
              context: { results: fromResults, field: 'from_departure' }
            "
          ></ng-container>

          <div class="label">
            <span
              class="error-message label-text-alt text-red-600"
              *ngIf="
                flightSearchForm.get('from_departure')?.invalid &&
                (flightSearchForm.get('from_departure')?.dirty ||
                  flightSearchForm.get('from_departure')?.touched)
              "
            >
              {{ getErrorMessage("from_departure") }}
            </span>
          </div>
        </label>
      </div>

      <figure
        class="flex flex-col p-2 mt-7 text-lg bg-white rounded-xl h-[171px] w-[171px]"
      >
        <img
          ngSrc="https://cdn.builder.io/api/v1/image/assets/TEMP/d4438f2f2f0d4e1b80b2a07ec4bc458cd606a527405112f27a29a1b4bc9eda8e?apiKey=6b158420ea1148c682b1835c67783cca&"
          alt="Hanoi cityscape"
          priority
          width="157"
          height="120"
        />
        <figcaption class="mt-2.5">Hanoi</figcaption>
      </figure>
    </section>

    <div
      class="flex relative gap-2.5 justify-center items-start self-stretch px-12 py-20 my-auto min-h-[591px] min-w-[240px] w-[700px] max-md:px-5 max-md:max-w-full"
    >
      <img
        ngSrc="https://cdn.builder.io/api/v1/image/assets/TEMP/3dd1ba8dd670d19287ef667409c5adca6a3fd1f7e65741a52893e3082a10a766?apiKey=6b158420ea1148c682b1835c67783cca&"
        alt=""
        priority
        width="478"
        height="591"
        class="absolute top-2/4 left-2/4 z-0 self-start -translate-x-2/4 -translate-y-2/4 min-w-[240px] w-[700px] max-md:max-w-full"
      />
      <div class="flex z-0 flex-col my-auto min-w-[240px] w-[400px]">
        <div class="flex gap-10 items-center self-center">
          <!-- One way Option -->

          <button
            type="button"
            class="flex gap-2 items-center self-stretch px-1.5 pt-1.5 pb-1.5 my-auto bg-white min-h-[142px] rounded-[100px] w-[78px]"
            [ngClass]="
              selectedFlightType === 'oneWay' ? 'flex-col' : 'flex-col-reverse'
            "
            (click)="selectFlightType('oneWay')"
          >
            <div
              class="flex gap-2.5 items-center justify-center border border-solid border-stone-300 h-[66px] min-h-[66px] rounded-[33px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[66px] max-md:pl-5"
              [ngClass]="
                selectedFlightType === 'oneWay' ? 'bg-[#97C1CE]' : 'bg-white'
              "
              aria-label="Select multi-city flight"
            >
              <span
                class="material-symbols-outlined"
                [ngClass]="selectedFlightType === 'oneWay' ? 'text-white' : ''"
              >
                flight
              </span>
            </div>
            <div class="mt-1.5 text-xl text-center text-black">One way</div>
          </button>

          <!-- Round trip Option -->
          <button
            type="button"
            class="flex gap-2 items-center self-stretch px-1.5 pt-1.5 pb-1.5 my-auto bg-white min-h-[142px] rounded-[100px] w-[78px]"
            [ngClass]="
              selectedFlightType === 'roundTrip'
                ? 'flex-col'
                : 'flex-col-reverse'
            "
            (click)="selectFlightType('roundTrip')"
          >
            <div
              class="flex gap-2.5 items-center justify-center border border-solid border-stone-300 h-[66px] min-h-[66px] rounded-[33px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[66px] max-md:pl-5"
              [ngClass]="
                selectedFlightType === 'roundTrip' ? 'bg-[#97C1CE]' : 'bg-white'
              "
            >
              <span
                class="material-symbols-outlined"
                [ngClass]="
                  selectedFlightType === 'roundTrip' ? 'text-white' : ''
                "
              >
                connecting_airports
              </span>
            </div>
            <div class="my-1.5 text-xl text-center text-black">Round Trip</div>
          </button>

          <!-- Multi city Option -->
          <button
            type="button"
            class="flex gap-2 items-center self-stretch px-1.5 pt-1.5 pb-1.5 my-auto bg-white min-h-[142px] rounded-[100px] w-[78px]"
            [ngClass]="selectedMultiCity ? 'flex-col' : 'flex-col-reverse'"
            (click)="toggleMultiCity()"
          >
            <div
              class="flex gap-2.5 items-center justify-center border border-solid border-stone-300 h-[66px] min-h-[66px] rounded-[33px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[66px] max-md:pl-5"
              [ngClass]="selectedMultiCity ? 'bg-[#97C1CE]' : 'bg-white'"
            >
              <span
                class="material-symbols-outlined"
                [ngClass]="selectedMultiCity ? 'text-white' : ''"
              >
                language
              </span>
            </div>
            <div class="my-1.5 text-xl text-center text-black">Multi City</div>
          </button>
        </div>

        <!-- Date -->
        <div
          *ngIf="
            selectedFlightType == 'oneWay';
            then oneWayCalendar;
            else roundTripCalendar
          "
        ></div>

        <!-- Class and Traveller -->
        <div
          class="flex items-center justify-between px-4 mt-3.5 w-full bg-white rounded-xl min-h-[95px]"
        >
          <div class="flex flex-col my-auto w-auto">
            <label
              for="classSelect"
              class="text-base text-black text-opacity-60"
              >Class</label
            >
            <div
              class="flex gap-2 items-center mt-2 w-full text-xl font-bold text-black"
            >
              <select
                id="classSelect"
                class="self-stretch my-auto w-[90px] bg-transparent border-none appearance-none"
              >
                <option>Business</option>
              </select>
              <span class="material-symbols-outlined"> arrow_drop_down </span>
            </div>
          </div>

          <div class="divider divider-horizontal"></div>

          <div class="flex flex-col my-auto w-auto">
            <label
              for="travelerSelect"
              class="text-base text-black text-opacity-60"
              >Traveler</label
            >
            <div
              class="flex gap-2 items-center mt-2 w-full text-xl font-bold text-black"
            >
              <select
                id="travelerSelect"
                class="self-stretch my-auto w-[98px] bg-transparent border-none appearance-none"
              >
                <option>2 Traveler</option>
              </select>
              <span class="material-symbols-outlined"> arrow_drop_down </span>
            </div>
          </div>
        </div>

        <!--  Search Button -->
        <button
          class="flex gap-2.5 items-center self-center p-5 mt-3.5 bg-slate-400 h-[60px] min-h-[60px] rounded-[30px] w-[60px]"
          aria-label="Search flights"
          type="submit"
          [disabled]="flightSearchForm.invalid"
        >
          <span class="material-symbols-outlined text-white"> search </span>
        </button>
      </div>
    </div>

    <section
      class="flex flex-col self-stretch my-auto text-black whitespace-nowrap min-w-[240px] w-[252px]"
    >
      <div class="row-control">
        <label class="form-control w-full max-w-xs relative">
          <div class="label flex gap-2 justify-start">
            <span class="material-symbols-outlined"> flight_land </span>
            <span class="label-text">To</span>
          </div>
          <input
            type="text"
            placeholder="New york city"
            class="input input-bordered w-full max-w-xs"
            id="to_destination"
            formControlName="to_destination"
            name="to_destination"
            required
          />

          <ng-container
            *ngTemplateOutlet="
              autocompleteTemplate;
              context: { results: toResults, field: 'to_destination' }
            "
          ></ng-container>

          <div class="label">
            <span
              class="error-message label-text-alt text-red-600"
              *ngIf="
                flightSearchForm.get('to_destination')?.invalid &&
                (flightSearchForm.get('to_destination')?.dirty ||
                  flightSearchForm.get('to_destination')?.touched)
              "
            >
              {{ getErrorMessage("to_destination") }}
            </span>
          </div>
        </label>
      </div>

      <figure
        class="flex flex-col p-2 mt-7 text-lg bg-white rounded-xl h-[171px] w-[171px]"
      >
        <img
          ngSrc="https://cdn.builder.io/api/v1/image/assets/TEMP/6655cded37a0d184135bb1e86f283624fb3cd1f0647a52aa9b399fbe088591a1?apiKey=6b158420ea1148c682b1835c67783cca&"
          priority
          width="157"
          height="120"
          alt="Singapore cityscape"
          class="rounded-xl"
        />
        <figcaption class="mt-2.5">Singapore</figcaption>
      </figure>
    </section>
  </form>
</div>

<ng-template #autocompleteTemplate let-results="results" let-field="field">
  <div
    *ngIf="results && results.length > 0"
    class="absolute z-10 w-full max-w-xs mt-24 bg-white shadow-lg rounded-md"
  >
    <ul class="py-1">
      <li
        *ngFor="let result of results"
        class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
        (click)="selectResult(field, result)"
      >
        {{ result.presentation.title }}
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #oneWayCalendar>
  <div
    [formGroup]="flightSearchForm"
    class="flex items-center justify-center px-4 mt-3.5 w-full bg-white rounded-xl min-h-[95px]"
  >
    <label class="form-control w-full max-w-xs">
      <div class="label flex gap-2 justify-start">
        <span class="label-text">Departure Date</span>
        <span class="material-symbols-outlined"> calendar_today </span>
      </div>
      <input
        type="date"
        placeholder="Today"
        class="input input-bordered w-full max-w-xs"
        id="date"
        formControlName="date"
        name="date"
        required
      />
      <div class="label">
        <span
          class="error-message label-text-alt text-red-600"
          *ngIf="
            flightSearchForm.get('date')?.invalid &&
            (flightSearchForm.get('date')?.dirty ||
              flightSearchForm.get('date')?.touched)
          "
        >
          {{ getErrorMessage("date") }}
        </span>
      </div>
    </label>
  </div>
</ng-template>

<ng-template #roundTripCalendar>
  <div
    [formGroup]="flightSearchForm"
    class="flex items-center justify-between px-4 mt-3.5 w-full bg-white rounded-xl min-h-[95px]"
  >
    <div class="flex flex-col my-auto">
      <label class="form-control w-full max-w-xs">
        <div class="label flex gap-2 justify-start">
          <span class="label-text">Departure Date</span>
          <span class="material-symbols-outlined"> calendar_today </span>
        </div>
        <input
          type="date"
          placeholder="Today"
          class="input input-bordered w-full max-w-xs"
          id="date"
          formControlName="date"
          name="date"
          required
        />
        <div class="label">
          <span
            class="error-message label-text-alt text-red-600"
            *ngIf="
              flightSearchForm.get('date')?.invalid &&
              (flightSearchForm.get('date')?.dirty ||
                flightSearchForm.get('date')?.touched)
            "
          >
            {{ getErrorMessage("date") }}
          </span>
        </div>
      </label>
    </div>

    <div class="divider divider-horizontal"></div>

    <div class="flex flex-col my-auto">
      <label class="form-control w-full max-w-xs">
        <div class="label flex gap-2 justify-start">
          <span class="label-text">Landing Date</span>
          <span class="material-symbols-outlined"> calendar_today </span>
        </div>
        <input
          type="date"
          placeholder="Today"
          class="input input-bordered w-full max-w-xs"
          id="date"
          formControlName="date"
          name="date"
          required
        />
        <div class="label">
          <span
            class="error-message label-text-alt text-red-600"
            *ngIf="
              flightSearchForm.get('date')?.invalid &&
              (flightSearchForm.get('date')?.dirty ||
                flightSearchForm.get('date')?.touched)
            "
          >
            {{ getErrorMessage("date") }}
          </span>
        </div>
      </label>
    </div>
  </div>
</ng-template>
