<div
  class="flex flex-col mx-auto w-full text-xs bg-white rounded-xl border border-black border-solid max-w-[300px]"
>
  <!-- Stops -->
  <section class="flex flex-col w-auto">
    <!-- Stops -->
    <div class="collapse collapse-arrow collapse-open">
      <input type="checkbox" />
      <div
        class="collapse-title flex justify-between items-center px-6 py-3 w-full text-xl font-bold text-black whitespace-nowrap"
      >
        Stops
      </div>

      <div class="collapse-content">
        <ul>
          <li
            class="flex gap-10 justify-between items-start px-6 py-2 w-auto text-sm text-black"
          >
            <div class="flex gap-3 items-center">
              <input type="checkbox" checked="checked" class="checkbox" />
              <span class="self-stretch my-auto">Non-stop</span>
            </div>
            <span>$307</span>
          </li>
          <li
            class="flex gap-10 justify-between items-start px-6 py-2 w-auto text-sm text-black"
          >
            <div class="flex gap-3 items-center">
              <input type="checkbox" checked="checked" class="checkbox" />
              <span class="self-stretch my-auto">1 Stop</span>
            </div>
            <span>$322</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <!-- Flight Time -->
  <section class="flex flex-col w-auto">
    <div class="collapse collapse-arrow collapse-open">
      <input type="checkbox" />
      <div
        class="collapse-title flex justify-between items-center px-6 py-3 w-full text-xl font-bold text-black whitespace-nowrap"
      >
        Flight Time
      </div>

      <div class="collapse-content">
        <div>
          <div class="gap-2 self-stretch px-4 py-2 w-full text-base text-black">
            <strong>Take-off from {{ "Hanoi (HNA)" }}</strong>
          </div>
          <div
            class="flex gap-10 justify-between items-center px-4 py-2 w-full text-base text-black"
          >
            <time class="self-stretch my-auto">{{ "SAT" }}{{ " 1:00AM" }}</time>
            <time class="self-stretch my-auto">{{ "11:30PM" }}</time>
          </div>
          <div class="custom-slider px-4 py-2 w-full">
            <ngx-slider
              [(value)]="minValue"
              [(highValue)]="maxValue"
              [options]="options"
              class="w-full"
            ></ngx-slider>
          </div>
        </div>

        <div>
          <div
            class="gap-2.5 self-stretch px-4 py-2 w-full text-base text-black"
          >
            <strong>Landing at {{ "ICN" }}</strong>
          </div>
          <div
            class="flex gap-10 justify-between items-center px-4 py-2 w-full text-base text-black"
          >
            <time class="self-stretch my-auto">{{ "SAT" }}{{ " 1:00AM" }}</time>
            <time class="self-stretch my-auto">{{ "11:30PM" }}</time>
          </div>
          <div class="custom-slider px-4 py-2 w-full">
            <ngx-slider
              [(value)]="minValue"
              [(highValue)]="maxValue"
              [options]="options"
              class="w-full"
            ></ngx-slider>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <!-- Airline -->
  <div class="collapse collapse-arrow collapse-open">
    <input type="checkbox" />
    <div
      class="collapse-title flex justify-between items-center px-6 py-3 w-full text-xl font-bold text-black whitespace-nowrap"
    >
      Airline
    </div>

    <div class="collapse-content">
      <ul>
        <li
          class="flex gap-10 justify-between items-start px-6 py-2 w-auto text-sm text-black whitespace-nowrap"
        >
          <div class="flex gap-3 items-center">
            <input type="checkbox" checked="checked" class="checkbox" />
            <span class="self-stretch my-auto">Bamboo Airways</span>
          </div>
          <span>$307</span>
        </li>
        <li
          class="flex gap-10 justify-between items-start px-6 py-2 w-auto text-sm text-black whitespace-nowrap"
        >
          <div class="flex gap-3 items-center">
            <input type="checkbox" checked="checked" class="checkbox" />
            <span class="self-stretch my-auto">China Southern</span>
          </div>
          <span>$322</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="divider"></div>

  <!-- Price -->
  <section class="flex flex-col w-auto">
    <div class="collapse collapse-arrow collapse-open">
      <input type="checkbox" />
      <div
        class="collapse-title flex justify-between items-center px-6 py-3 w-full text-xl font-bold text-black whitespace-nowrap"
      >
        Price
      </div>

      <div class="collapse-content">
        <div>
          <div
            class="flex gap-10 justify-between items-center px-4 py-2 w-full text-base text-black"
          >
            <time class="self-stretch my-auto">{{ "1:00AM" }}</time>
            <time class="self-stretch my-auto">{{ "11:30PM" }}</time>
          </div>
          <div class="custom-slider px-4 py-2 w-full">
            <ngx-slider [(value)]="value2" [options]="options2"></ngx-slider>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <!-- Airports -->
  <section class="flex flex-col w-auto">
    <!-- Stops -->
    <div class="collapse collapse-arrow collapse-open">
      <input type="checkbox" />
      <div
        class="collapse-title flex justify-between items-center px-6 py-3 w-full text-xl font-bold text-black whitespace-nowrap"
      >
        Airports
      </div>

      <div class="collapse-content">
        <div class="gap-1 self-stretch px-4 py-2 w-full text-base text-black">
          <strong>Take-off from {{ "Hanoi (HNA)" }}</strong>
        </div>

        <ul>
          <li
            class="flex gap-10 justify-between items-start px-6 py-2 w-auto text-sm text-black"
          >
            <div class="flex gap-3 items-center">
              <input type="checkbox" checked="checked" class="checkbox" />
              <span class="self-stretch my-auto">HAN Hanoi</span>
            </div>
            <span>$307</span>
          </li>
          <li
            class="flex gap-10 justify-between items-start px-6 py-2 w-auto text-sm text-black"
          >
            <div class="flex gap-3 items-center">
              <input type="checkbox" checked="checked" class="checkbox" />
              <span class="self-stretch my-auto">HPH Hai Phong</span>
            </div>
            <span>$322</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
