<div class="flex relative flex-col max-w-[800px] ml-40 mt-40">
  <div
    class="flex z-0 w-full bg-red-300 rounded-xl min-h-[250px] max-md:max-w-full"
  ></div>
  <div
    class="flex absolute right-0 -bottom-px z-0 flex-wrap justify-center w-[800px] max-md:max-w-full"
  >
    <section
      class="flex flex-col grow shrink text-base font-bold min-w-[240px] w-[600px] max-md:max-w-full"
    >
      <header
        class="flex flex-wrap gap-10 justify-between items-center p-3 w-full text-xl text-cyan-600 whitespace-nowrap max-md:max-w-full"
      >
        <div
          class="gap-2.5 self-stretch px-6 py-3 my-auto bg-green-100 rounded-xl max-md:px-5"
        >
          Cheapest
        </div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/bded967468b43dfd1a4997ef6b5ef9e58f871318a0d22b9191ce6c68d77ee6e4?apiKey=6b158420ea1148c682b1835c67783cca&"
          alt=""
          class="object-contain shrink-0 self-stretch my-auto w-7 aspect-square"
        />
      </header>

      <!-- From Departure -->
      <div
        class="flex flex-wrap gap-10 justify-between items-center px-6 py-3 w-full max-md:px-5 max-md:max-w-full"
      >
        <div class="flex gap-1 items-start self-stretch my-auto min-w-[240px]">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c435791eb51b29770d0a3510df8685fe3b84aab886005a31196ae67cad3bb8da?apiKey=6b158420ea1148c682b1835c67783cca&"
            alt="VietJet Air logo"
            class="object-contain shrink-0 aspect-[3.31] w-[116px]"
          />
          <div class="flex flex-col w-[187px]">
            <div class="text-black">11:15 PM - 5:30 AM</div>
            <div class="mt-2 text-black text-opacity-50">VietJet Air</div>
          </div>
        </div>
        <div class="self-stretch my-auto text-black">Non-stop</div>
        <div class="flex flex-col self-stretch my-auto text-black w-[72px]">
          <div>4h 15m</div>
          <div class="mt-2">HAN-ICN</div>
        </div>
      </div>

      <!-- To Destination -->
      <div
        class="flex flex-wrap gap-10 justify-between items-center px-6 py-3 w-full max-md:px-5 max-md:max-w-full"
      >
        <div class="flex gap-1 items-start self-stretch my-auto min-w-[240px]">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c435791eb51b29770d0a3510df8685fe3b84aab886005a31196ae67cad3bb8da?apiKey=6b158420ea1148c682b1835c67783cca&"
            alt="VietJet Air logo"
            class="object-contain shrink-0 aspect-[3.31] w-[116px]"
          />
          <div class="flex flex-col w-[187px]">
            <div class="text-black">6:25 AM - *:55AM</div>
            <div class="mt-2 text-black text-opacity-50">VietJet Air</div>
          </div>
        </div>
        <div class="self-stretch my-auto text-black">Non-stop</div>
        <div class="flex flex-col self-stretch my-auto text-black w-[72px]">
          <div>4h 30m</div>
          <div class="mt-2">HAN-ICN</div>
        </div>
      </div>
    </section>
    <div class="flex flex-col grow shrink px-3 py-3.5 w-44 min-h-[250px]">
      <div class="flex flex-col w-full text-black whitespace-nowrap">
        <div class="flex gap-6 items-center w-full text-base font-bold">
          <div
            class="flex overflow-hidden gap-2.5 items-center self-stretch p-1.5 my-auto rounded-sm border border-solid border-cyan-600 border-opacity-60"
          >
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/249ee8e5e40dc0dabad7f2349f1499044c0a639d9f456e90dd59205c1bd24fa7?apiKey=6b158420ea1148c682b1835c67783cca&"
              alt=""
              class="object-contain shrink-0 self-stretch my-auto aspect-[0.63] w-[15px]"
            />
            <div class="self-stretch my-auto">1</div>
          </div>
          <div
            class="flex gap-2.5 items-center self-stretch p-1.5 my-auto rounded-sm border border-solid border-cyan-600 border-opacity-60"
          >
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/d775cfb4c850820789502c0770adfcaca9bd0ffd01233b04bb719abb369aaa26?apiKey=6b158420ea1148c682b1835c67783cca&"
              alt=""
              class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
            />
            <div class="self-stretch my-auto">0</div>
          </div>
        </div>
        <div class="flex flex-col mt-1.5 w-full">
          <div class="text-3xl font-bold">$338</div>
          <div class="flex flex-col mt-2 text-base w-[70px]">
            <div>Economy</div>
            <div>eDream</div>
          </div>
        </div>
      </div>
      <button
        class="flex gap-2.5 justify-center items-center px-5 py-3 mt-3 w-full text-xl font-bold text-white bg-lime-600 rounded"
      >
        <span class="self-stretch my-auto">View Detail</span>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd4f5350c7137ee816a535e581ef4a0a6d1b4540bd6ecd64c2f4d833166892cf?apiKey=6b158420ea1148c682b1835c67783cca&"
          alt=""
          class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square"
        />
      </button>
    </div>
  </div>
</div>
