<div class="drawer--content w-[800px]">
  <!-- Back Button -->
  <button
    class="btn btn-ghost btn-circle absolute top-4 left-4"
    (click)="closeDrawer()"
  >
    <span class="material-symbols-outlined"> arrow_left_alt </span>
  </button>

  <!-- Main Content -->
  <div class="p-8 mx-10">
    <h2 class="text-2xl font-bold mb-6">
      Booking Reference: #{{ bookingData()?.booking_id }}
    </h2>

    <!-- Flight Information Card -->
    <div class="card bg-base-100 shadow-xl mb-6">
      <div class="card-body">
        <div class="flex justify-between items-center">
          <div>
            <h3 class="text-xl font-bold">Vietnam Airlines VN123</h3>
            <p class="text-sm opacity-70">{{ formatedDepDes() }}</p>
          </div>
          <div class="text-right">
            <p class="font-bold">
              {{
                bookingData()?.itinerary?.legs[0]?.departure_time | weekMonthDay
              }}
            </p>
            <p class="text-sm opacity-70">
              {{
                bookingData()?.itinerary?.legs[0]?.departure_time | timeFormat
              }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modification Options -->
    <form class="space-y-4" [formGroup]="bookingForm">
      <!-- Flight Date/Time Change -->
      <!-- <div class="collapse collapse-arrow bg-base-100">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">
          <i class="fas fa-calendar-alt mr-2"></i> Change Flight Date/Time
        </div>
        <div class="collapse-content">
          <div class="form-control">
            <label class="label">New Flight Date</label>
            <input type="date" class="input input-bordered" />
            formControlName=""
          </div>
        </div>
      </div> -->

      <!-- Class Upgrade -->
      <!-- <div class="collapse collapse-arrow bg-base-100">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">
          <i class="fas fa-level-up-alt mr-2"></i> Upgrade Class
        </div>
        <div class="collapse-content">
          <select class="select select-bordered w-full">
            <option>Economy Class</option>
            <option>Business Class</option>
            <option>First Class</option>
          </select>
        </div>
      </div> -->

      <!-- Passenger Details -->
      <div class="collapse collapse-arrow bg-base-100">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium flex items-center gap-2">
          <span class="material-symbols-outlined"> account_circle </span>
          Passenger Details
        </div>
        <div
          class="collapse-content flex flex-col gap-y-2"
          formArrayName="passengers"
        >
          @for (passenger of bookingData()?.passengers; track $index) {
          <div
            class="collapse collapse-arrow bg-base-200"
            [formGroupName]="$index"
          >
            <input type="checkbox" />
            <div
              class="collapse-title text-xl font-medium flex items-center gap-2"
            >
              Passenger {{ $index + 1 }}
            </div>
            <div class="collapse-content">
              <div class="form-control">
                <label class="label">Passenger First Name</label>
                <input
                  type="text"
                  class="input input-bordered"
                  formControlName="first_name"
                  value="{{ passenger.first_name }}"
                />
              </div>

              <div class="form-control">
                <label class="label">Passenger Last Name</label>
                <input
                  type="text"
                  class="input input-bordered"
                  formControlName="last_name"
                  value="{{ passenger.last_name }}"
                />
              </div>

              <div class="form-control">
                <label class="label">Passport Number</label>
                <input
                  type="text"
                  class="input input-bordered"
                  formControlName="passport_number"
                  value="{{ passenger.passport_number }}"
                />
              </div>

              <div class="form-control">
                <label class="label">Passport Expiry</label>
                <input
                  type="text"
                  class="input input-bordered"
                  formControlName="passport_expiry"
                  value="{{ passenger.passport_expiry }}"
                />
              </div>

              <div class="form-control">
                <label class="label">Date Of Birth</label>
                <input
                  type="text"
                  class="input input-bordered"
                  formControlName="date_of_birth"
                  value="{{ passenger.date_of_birth }}"
                />
              </div>

              <div class="form-control">
                <label class="label">Street Address</label>
                <input
                  type="text"
                  class="input input-bordered"
                  formControlName="street_address"
                  value="{{ passenger.street_address }}"
                />
              </div>
            </div>
          </div>
          }
        </div>
      </div>

      <!-- Seat Selection -->
      <!-- <div class="collapse collapse-arrow bg-base-100">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">
          <i class="fas fa-chair mr-2"></i> Seat Selection
        </div>
        <div class="collapse-content">
          <div class="grid grid-cols-3 gap-2">
            <button class="btn btn-outline">12A (Window)</button>
            <button class="btn btn-outline">12B (Middle)</button>
            <button class="btn btn-outline">12C (Aisle)</button>
          </div>
        </div>
      </div> -->

      <!-- Add-on Services -->
      <!-- <div class="collapse collapse-arrow bg-base-100">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">
          <i class="fas fa-plus-circle mr-2"></i> Add-on Services
        </div>
        <div class="collapse-content">
          <div class="form-control">
            <label class="cursor-pointer label">
              <span class="label-text">Extra Baggage (23kg)</span>
              <input type="checkbox" class="checkbox" />
            </label>
            <label class="cursor-pointer label">
              <span class="label-text">Priority Boarding</span>
              <input type="checkbox" class="checkbox" />
            </label>
            <label class="cursor-pointer label">
              <span class="label-text">Special Meal</span>
              <input type="checkbox" class="checkbox" />
            </label>
          </div>
        </div>
      </div> -->
    </form>

    <!-- Action Buttons -->
    <div class="flex justify-end space-x-4 mt-6">
      <button class="btn btn-error text-white" (click)="closeDrawer()">
        Cancel Changes
      </button>
      <button
        class="btn btn-primary text-white"
        (click)="confirmUpdateBooking()"
      >
        Save Changes
      </button>
    </div>
  </div>
</div>
