<div class="container w-full h-screen flex mx-auto justify-center items-center">
  <form
    class="register-form min-w-80"
    autocomplete="off"
    [formGroup]="emailResetPasswordForm"
  >
  <div class="text-center mb-8">
    <h2 class="text-3xl font-bold bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent">
      Reset password
    </h2>
  </div>
    <!-- User name -->
    <div class="row-control">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Email</span>
        </div>
        <input
          type="email"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          id="email"
          formControlName="email"
          name="email"
          required
        />
        <div class="label">
          <span
            class="error-message label-text-alt text-red-600"
            *ngIf="
              emailResetPasswordForm.get('email')?.invalid &&
              (emailResetPasswordForm.get('email')?.dirty ||
                emailResetPasswordForm.get('email')?.touched)
            "
          >
            <!-- {{ getErrorMessage("email") }} -->
          </span>
        </div>
      </label>
    </div>

    <div class="row-control row-actions">
      <button
        class="btn btn-primary w-full"
        type="submit"
        [disabled]="emailResetPasswordForm.invalid"
        (click)="submitForm()"
      >
        Submit
      </button>
    </div>
  </form>

  <!-- Add toast messages -->
  <div class="toast toast-top toast-end">
    <div *ngFor="let message of successMessages" class="alert alert-success">
      <span>{{ message }}</span>
    </div>
    <div *ngFor="let message of errorMessages" class="alert alert-error">
      <span>{{ message }}</span>
    </div>
  </div>
</div>
