<form
  class="register-form"
  autocomplete="off"
  [formGroup]="emailResetPasswordForm"
>
  <!-- User name -->
  <div class="row-control">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Email</span>
      </div>
      <input
        type="email"
        placeholder="Type here"
        class="input input-bordered w-full max-w-xs"
        id="email"
        formControlName="email"
        name="email"
        required
      />
      <div class="label">
        <span
          class="error-message label-text-alt text-red-600"
          *ngIf="
            emailResetPasswordForm.get('email')?.invalid &&
            (emailResetPasswordForm.get('email')?.dirty ||
              emailResetPasswordForm.get('email')?.touched)
          "
        >
          <!-- {{ getErrorMessage("email") }} -->
        </span>
      </div>
    </label>
  </div>

  <div class="row-control row-actions">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="emailResetPasswordForm.invalid"
      (click)="submitForm()"
    >
      Login
    </button>
  </div>
</form>
